@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Oswald&family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.none {
    display: none;
}

.opacity {
    opacity: 0;
}

/*********************menu***********************/
.header img {
    width: 145px;
    height: 60px;
}

.social img {
    width: 32px;
    height: 32px;
    margin: 5px;
}

.social a {
    min-height: 59px;
}

.social {
    float: right;
    margin-right: 2vw;
}

.logo {
    float: left;
    margin-left: 2vw;
}

.header {
    position: relative;
    overflow: hidden;
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  /*******************1st section - call *********************/
.call-mid {
    background: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    max-width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 15px;
}

.call h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 155.02%;
    color: #647B75;
}
.call-mid span {
    display: block;
    color: #613046;
}

.call-mid input[type=button], .form form input[type=button] {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: #613046;
    border-radius: 10px;
    padding: 15px 10px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    line-height: 29px;
    text-align: center;
    cursor: pointer;
}

.call-mid input[type=button] {
    margin-top: 5vh;
    width: 75%;
}

.call-section {
    background-image: url(/public/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 91vh;
    display: flex;
}

/****************2nd section - description*****************/

.description-section h2 {
    font-size: 40px;
}

.description-section h3 {
    color: #8F8C8C;
    font-size: 20px;
    margin: 3vh 2vh;
}

.description-section h4 {
    margin: 2vh auto;
} 

.description-section {
    text-align: center;
    color: #647B75;
    margin: 5vh auto;
}

.products img {
    object-fit: cover;
    border-radius: 12px;
    width: 80vw;
    height: 290px;
}

.products p {
    margin: 1vh auto;
    min-height: 44.8px; 
}

.products h4 {
    font-size: 34px;
}

.description-section p {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #282828;
}

.description-section input[type="button"] {
    border: 1.5px solid #707070;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #707070;
    background: none;
    padding: 5px 100px;
    cursor: pointer;
}

.benefits-section {
    margin: 2vh auto;
    width: 80vw;
    background: #647B75;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.benefits-title {
    display: flex;
    align-items: center;
}

.benefits-content, .benefits-title {
    width: 85%;
    min-height: 112px;
    text-align: left;
    margin: 20px;
}

.benefits-title p {
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}

.benefits-content h4 {
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    margin-top: 4px;
}

.benefits-content p {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.benefits-content {
    padding-left: 1vw;
    border-left: 5px solid #613046;
}

/****************3rd section - carousel*****************/
.thumbs-wrapper, .axis-vertical {
    display: none;
}

.carousel-root {
    background: rgba(186, 197, 180,0.2);
}

.item-carousel { 
    padding: 2vh;
}

.item-carousel img {
    object-fit: cover;
    border-radius: 10px;
    width: 80vw;
    height: 80vw;
    margin: auto;
}

.item-carousel h2 {
    color: #647B75;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    margin: 2vh;
}

.item-carousel p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #282828;
    margin: 2vh auto;
}

/****************4th section - form*****************/
.error {
    color: red;
}

.form {
    background-image: url(/public/img/form_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 84vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form form {
    margin: auto;
    max-width: 85vw;
    height: 45vh;
    min-height: 450px;
    background: rgba(186, 197, 180, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form h2 {
    font-weight: 700;
    font-size: 34px;
    color: #613046;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.045em;
    text-shadow: 1px -1px rgba(255, 255, 255, 0.35);
    margin-bottom: 4vh;
}

.form form input[type=button] {
    margin-top: 4vh;
    max-width: 85%;
    width: 85%;
    font-size: 18px;
}

.form input[type="text"], .form input[type="email"] {
    outline: none;
    border: none;
    width: 85%;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.form placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #707070;
}

/***************5th section - perfil*****************/

.profile {
    background-image: url(/public/img/bg-logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 4vh;
}

.profile img {
    object-fit: cover;
    border-radius: 10px;
    width: 80vw;
    height: 80vw;
    margin: auto;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.profile div {
    margin: auto;
    width: 80vw;
    font-family: 'Source Sans 3';
    padding-bottom: 4vh;
}

.profile h2 {
    color: #613046;
    line-height: 97.4%;
    font-size: 46px;
    margin: 4vh auto;
}

.profile h3 {
    color: #816438;
    line-height: 97.4%;
    font-size: 28px;
    margin: 4vh auto;
}

.profile span {
    font-weight: 700;
}

.profile p {
    margin: 5px auto;
}

.profile p:first-child {
    margin-top:0;
}

.profile p:last-child {
    margin-bottom:0;
}
/********************footer********************/

.footer {
    background: #3E504B;
    text-align: center;
    padding: 1vh;
}

.footer p {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    margin: 5px;
}

.footer p:first-child {
    font-weight: 700;
    font-size: 20px;
    margin: 10px;
}

.footer p:last-child {
    font-size: 20px;
    margin: 10px;
}