@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Oswald&family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.opacity {
    opacity: 0;
}

/*********************menu***********************/
.header img {
    width: 145px;
    height: 60px;
}

.social img {
    width: 32px;
    height: 32px;
    margin: 5px;
}

.social a {
    min-height: 59px;
}

.social {
    float: right;
    margin-right: 2vw;
}

.logo {
    float: left;
    margin-left: 2vw;
}

.header {
    position: relative;
    overflow: hidden;
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  /*******************1st section - call *********************/
.call-mid {
    background: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    max-width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.call h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 155.02%;
    color: #647B75;
    margin: 0 5vw;
}
.call-mid span {
    display: block;
    color: #613046;
}

.call-mid input[type=button], .form form input[type=button], .form button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: #613046;
    border-radius: 10px;
    padding: 15px 10px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    line-height: 29px;
    text-align: center;
    cursor: pointer;
    animation: animBtnReverse 0.3s ease-out 0s 1 reverse none;
}

@keyframes animBtnReverse {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		transform: scale(1);
	}

	100% {
		box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
		transform: scale(1.1);
	}
}

.call-mid input[type=button] {
    margin-top: 5vh;
    width: 75%;
}

.call-mid input[type=button]:hover, .form form input[type=button]:hover, .form button:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
	transform: scale(1.1);
    animation: animBtn 0.5s linear 0s 1 normal none;
}

@keyframes animBtn {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		transform: scale(1);
	}

	100% {
		box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
		transform: scale(1.1);
	}
}

.call-section {
    background-image: url(/public/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 92vh;
    display: flex;
}

/****************2nd section - description*****************/
.description-section h2 {
    font-size: 40px;
}

.description-section h3 {
    color: #8F8C8C;
    font-size: 20px;
    margin: 3vh 2vh;
}

.description-section h4 {
    margin: 2vh auto;
} 

.description-section {
    text-align: center;
    color: #647B75;
    margin: 5vh auto;
}

.products img {    
    object-fit: cover;
    border-radius: 12px;
    width: 79vw;
    max-width: 100%;
    height: 79vw;
}

.products h4 {
    font-size: 34px; 
}

.products div {
    display: flex;
    flex-direction: column;
}
.card-product {
    background-color: #FFFFFF;
    border: none;
}
.description-section p {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #282828;
}

.description-section input[type="button"] {
    border: 1.5px solid #707070;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #707070;
    background: none;
    padding: 5px 100px;
    cursor: pointer;
    justify-self: flex-end;
}

.description-section input[type="button"]:hover {
    background: rgba(0, 0, 0, 0.05);
}

.benefits-section {
    margin: 2vh auto;
    width: 80vw;
    background: #647B75;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.benefits-title {
    display: flex;
    align-items: center;
}

.benefits-content, .benefits-title {
    width: 85%;
    min-height: 112px;
    text-align: left;
    margin: 20px;
}

.benefits-title p {
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}

.benefits-content h4 {
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    margin-top: 4px;
}

.benefits-content p {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.benefits-content {
    padding-left: 1vw;
    border-left: 5px solid #613046;
}

/****************3rd section - carousel*****************/
.thumbs-wrapper, .axis-vertical {
    display: none;
}

.carousel .control-arrow:focus, .carousel .control-arrow:hover {
    background-color: transparent !important;
}

.carousel .control-arrow, .carousel .control-arrow {
   opacity: 1 !important;
}

.carousel .control-next.control-arrow:before {
    border-top: 25px solid transparent !important;
    border-bottom: 25px solid transparent !important;
    border-left: 25px solid #ffffffc7 !important;
}

.carousel .control-prev.control-arrow:before {
    border-top: 25px solid transparent !important;
    border-bottom: 25px solid transparent !important;
    border-right: 25px solid #ffffffc7 !important;
}

.carousel-root {
    background: rgba(186, 197, 180,0.2);
}

.item-carousel { 
    padding: 2vh;
}

.item-carousel img {
    object-fit: cover;
    border-radius: 10px;
    width: 80vw;
    height: 80vw;
    margin: auto;
}

.item-carousel h2 {
    color: #647B75;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    margin: 2vh 0;
}

.item-carousel p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #282828;
    margin: 2vh auto;
    text-align: justify;
}

/****************4th section - form*****************/
.error {
    outline-style: dashed;
    outline:red;
}

.form-invalido {
    outline: 1px solid red;
    background-color: rgba(196, 14, 14, 0.5);
}

.form {
    background-image: url(/public/img/form_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 101vh;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
}

.form form {
    padding: 25px 0;
    margin: auto;
    max-width: 85vw;
    
    background: rgba(186, 197, 180, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form h2 {
    font-weight: 700;
    font-size: 34px;
    color: #613046;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.045em;
    text-shadow: 1px -1px rgba(255, 255, 255, 0.35);
    margin: 2vh auto;
}

.form form input[type=button], .form button {
    margin-top: 4vh;
    max-width: 85%;
    width: 85%;
    font-size: 18px;
    margin: 2vh auto;
}


.form input {
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.form input[type="text"], .form input[type="email"], .form input[type="tel"], .form input[type="password"] {
    outline: none;
    border: none;
    width: 85%;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.form placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #707070;
}

.form label {
    font-weight: 400;
    font-size: 20px; 
    margin: 10px auto;
}
/***************5th section - perfil*****************/
.adm, .profile {
    background-image: url(/public/img/bg-logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.adm {

}

.profile {
    min-height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4vh 0;
}

.profile img {
    object-fit: cover;
    border-radius: 10px;
    width: 80vw;
    height: 80vw;
    margin: auto;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.profile div {
    margin: auto;
    width: 80vw;
    height: 100% !important;
    font-family: 'Source Sans 3';
    padding: 0;
}

.profile h2 {
    color: #613046;
    line-height: 97.4%;
    font-size: 46px;
    margin: 4vh auto;
}

.profile h3 {
    color: #816438;
    line-height: 97.4%;
    font-size: 28px;
    margin: 4vh auto;
}

.profile span {
    font-weight: 700;
}

.profile p {
    margin: 3vh auto;
}

.profile p:first-child {
    margin-top:0;
}

.profile p:last-child {
    margin-bottom:0;
}
/********************footer********************/

.footer {
    background: #3E504B;
    text-align: center;
    padding: 1vh;
    
}

.footer p {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    margin: 5px;
}

.footer p:last-child {
    font-size: 20px;
    margin: 10px;
}

.erro {
    border: 2px solid red !important;
    opacity: 0;
}
